* {

font-family: 'Quicksand', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

}

header {
    height: 100px;
    width: 100%;
    background-color: #B3181E;
    display: flex;
}

.logo {
    height: 200px;
    margin-top: -50px;
    margin-left: 20px;

}

.nav {
    display: flex;
    margin-left: 450px;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

}

li{
    color: #F4F3ED;
    margin-left: 80px;
    font-size: 18px;
}

li:hover{
    color: #000000;
    font-weight: 600;
    transform: scale(1.05);
    transition: 0.4s;
    cursor: pointer;
}

.pag-1{
    display: flex;
    background-color: #F4F3ED;
    align-items: center;
}

.texto-1{
    width: 50%;
    margin-left: 40px;
    
}
.titulo-1 {
    font-size: 50px;
    font-weight: 600;
    font-family: montserrat;
}

.titulo-1 span {
    font-size: 50px;
    font-weight: 600;
    font-family: montserrat;
    color: #B3181E;
}

.ju-1 {
    height: 600px;
}

.ju-1:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.sub-1 {
    margin-top: 30px;
    font-weight: 600;
    width: 80%;
    
}

.div-agende{
    margin-top: 40px;
}

#agende {
    
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 1rem;
    color: #F4F3ED;
    background-color: #B3181E;
    border: none;
    text-decoration: none;

}
.div-agende:hover{
    transform: scale(0.9);
    transition: 0.4s;
    margin-left: -30px;
}
#agende:hover {
    
    transition: 0.4s;
    background-color: #A3BACB;
    color: #000000;
    font-weight: 600;
}

.pag-2 {
    height: 700px;
    width: 100%;
    background-color: #F4F3ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-pag-2 {
    height: 600px;
    width: 90%;
    background-color: #B3181E;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-2 {
    margin-top: 30px;
    margin-left: 60px;
    font-weight: 600;
    font-family: montserrat;
    font-size: 50px;
    color: #F4F3ED;
}

.titulo-2-1 {
    margin-top: 5px;
    margin-left: 60px;
    font-weight: 600;
    font-size: 50px;
    font-family: montserrat;
    color: #F4F3ED;

}

.texto-2 {
    margin-top: 20px;
    margin-left: 60px;
    color: #F4F3ED;
    font-weight: 600;
    width: 60%;

}

.text-2 {
    width: 45%;
}

.item-1 {
    padding: 10px 25px;
    width: 65%;
    background-color: #F4F3ED;
    margin: 20px 60px;
    border-radius: 1rem;

}

.item-1:hover{
    background-color: #A3BACB;
    font-weight: 600;
}


.espelho {
    height: 450px;
    margin-right: 150px;
}